# Python venv
.venv/
venv/
env/

# Python-Cache
__pycache__/
*.pyc

# IDE/Editor
.idea/
.vscode/

# Video/Audio-Output
*.mp4
*.ogg
*.wav
*.log

# Downloaded assets (Pokémon-Sprites etc.)
assets/
assets 2/
assets.tar.gz
fonts/
music/
background_images/

# Credentials
client_secret.json